
<style>
  body {

    font-family: Calibri, Helvetica, sans-serif;

  }


</style>
<div class="backimg"> </div>
<div style="text-align: center;"> <h1> PRODUCT'S </h1> </div>
<div class="card">
  <img src="assets/jeans.jpg" alt="Levies Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Care instruction -  Machine wash</p>
  <p>Fit type- slim</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="assets/j.jpg" alt="shoes" style="width:100%">
  <h1>Nike Shoes</h1>
  <p class="price">$15.99</p>
  <p>Care instruction - machine wash..</p>
  <p>Fit type - slim </p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
 <img src="assets/adi.jpg" alt="shirts" style="width:100%">
 <h1> adidas shirts</h1>
 <p class="price">$10.50</p>
 <p> care instruction - machine wash </p>
 <p>Fit type - slim</p>
  <p><button>Add to Cart</button></p>

</div>
<button type="button" class="edit" (click)="gotoEditPage()">Add Product</button>




